

.profile-cont{
    display: flex;
    flex-direction: column;
}

.profile-dets{
    border-radius: 20px;
    position: sticky;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vh;
    width: 100%;
}

.bakc{
    position: absolute;
    width: 80px;
    height: 45px;
    z-index: 1;
    top: 15px;
    left: 15px;
}

.user{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prf{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 100%;
}

.user-name{
    background-color: aliceblue;
}

.del{
    
}