
.fileInput{
    margin-left: 10px;
}

.journeyAdd{
    font-size: 23px;
    font-weight: 400;
}

.addOrSubmit{
    display: flex;
    justify-content: space-between;
}

.error{
    background-color: ;
}


.bigDiv{
    width: 60%;
    max-width: 600px;
    padding: 10px;
    margin: auto;   
    border: 8px solid rgb(221, 166, 98) ;
    box-shadow: 4px 4px rgb(143, 112, 73);
    border-radius: 10PX;
}   

.activites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
}

input{
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 2px 0px;

    border: 2px solid rgb(216, 184, 141);
    background-color: antiquewhite;
    border-radius: 7px;
    box-shadow: 1px 1px rgb(187, 155, 114);
}

.ran{
    display: block;
    width: 100%;
    text-align: center;
}

label{
    width: 100%;
    margin: auto;
}

.fileLabel{
    font-weight: 600;
    color: rgb(17, 43, 16);
}

.file::file-selector-button{
    border: 0px;
    margin-left: 1px;
    padding: 1px 7px;
    border-radius: 4px;
    transition: 300ms;
    color: rgb(13, 75, 11);
    font-weight: 600;
}

.file::file-selector-button:hover {
    background-color: rgb(13, 75, 11);
    color: rgb(233, 213, 188);
  }

  .descriptionInputOverview{
    resize: none;
    display: block;
    width: 100%;
    height: 125px;
    margin: 5px 0px;
    padding: 2px 0px;

    border: 2px solid rgb(216, 184, 141);
    background-color: antiquewhite;
    border-radius: 7px;
    box-shadow: 1px 1px rgb(187, 155, 114);

    
  }