#welcomeAdd{
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

#addJourney{
    width: 105px;
    height: 65px;
}

#SignOut{

    background-color: rgb(255, 255, 255);
    border: 2px solid grey;
    border-radius: 12px;
    box-shadow: 3px 3px grey ;
}
.button{
    background-color: rgb(255, 255, 255);
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px grey ;
    margin : 5px;
}

.test{
    width: 200px;
    height: 130px;
}

img{
    width: 200px;
    height: 200px;
}

.explore-cont{
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 15px;
    place-items: center;
}

@media (max-width: 1900px){
    .explore-cont{
        grid-template-columns: 1fr;
    }
}

.profile{
    font-weight: 900;
    color: rgb(4, 65, 65);
}

.profile:hover{
    color: aliceblue;
    transition: 175ms;
    cursor: pointer;
}